@import './base.css';
@import './fonts.css';

#app {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
  overflow: hidden;
}

.card-black-gradient {
  background-image: linear-gradient(180deg, rgba(0,0,0,50), rgba(0,0,0,0));
}

.section-background {
  background-image: url("/src/assets/Seamless-background.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
}

.v-overlay__scrim {
  background: black;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.splide__arrows {
  position: absolute;
  top:50%;
  width:100%;
}

@media (hover: hover) {
  a:hover {
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    transition: width 1s, height 1s, transform 2s, display 1s, flex-grow 1s, flex 1s, flex-basis 1s;
  }
}
